<?xml version="1.0" encoding="utf-8"?>
<!--
/*
 * Copyright (C) 2013, Xiaomi Inc. All rights reserved.
 */
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.miui"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:name=".app.Application"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:debuggable="true"
        android:label="@string/app_name">

        <activity
            android:name=".MiuiDemo"
            android:theme="@style/Theme"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".app.AlertDialogDemo"
            android:theme="@style/Theme"
            android:label="App/Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".app.LicenseActivityDemo"
            android:theme="@style/Theme"
            android:label="App/Activity/License Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <!-- CODE-BEGIN FixedSizeActivityDemoAndroidManifest -->
        <activity
            android:name=".app.FixedSizeActivityDemo"
            android:theme="@miui:style/Theme.Light.Dialog.FixedSize"
            android:label="App/Activity/Fixed size Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <!-- CODE-END FixedSizeActivityDemoAndroidManifest -->

        <activity android:name=".app.actionbar.ActionBarMovableLayoutDemo"
                  android:label="App/Activity/Action bar movable Activity"
                  android:theme="@style/ActionBar.Movable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <!-- action bar -->
        <activity
            android:name=".app.actionbar.ActionBarTitleDemo"
            android:theme="@style/ActionBar.Title"
            android:label="App/ActionBar Display Options">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".app.actionbar.ActionBarTabDemo"
            android:theme="@style/ActionBar.Tab"
            android:label="App/ActionBar Tab">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".app.actionbar.ActionBarDemo"
            android:theme="@style/Theme.NoTitle"
            android:label="App/Action Bar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".app.actionbar.ActionBarDisplayOptions$TitleStyle"
            android:theme="@style/ActionBar.Title"
            android:label="App/Action Bar Title Style">
             <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".app.actionbar.ActionBarSplitBarDemo"
            android:theme="@style/ActionBar.SplitBar"
            android:label="App/Action Bar Split Bar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".app.actionbar.ActionBarTabs"
            android:theme="@style/ActionBar"
            android:label="App/Action Bar Fragment Tab">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".app.actionbar.EditActionModeDemo"
            android:theme="@style/ActionBar.ActionMode"
            android:label="App/Action Bar EditMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".app.actionbar.SearchActionModeDemo"
            android:theme="@style/ActionBar.SearchActionMode"
            android:label="App/Action Bar Search Action Mode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <!-- end action bar -->

        <activity
            android:name=".app.actionbar.ActionBarUsage"
            android:label="@string/actionbar_usage"
            android:theme="@style/Theme" />

        <activity
            android:name=".app.actionbar.ActionBarDisplayOptions"
            android:label="@string/actionbar_display_options"
            android:theme="@style/Theme" />

        <activity
            android:name=".app.actionbar.ActionBarMechanics"
            android:label="@string/actionbar_mechanics"
            android:theme="@style/Theme" />


        <activity
            android:name=".app.actionbar.SearchDemo"
            android:label="@string/actionbar_searchview"
            android:theme="@style/Theme" />

        <activity
            android:name=".app.actionbar.ImmersionMenu"
            android:label="@string/actionbar_immersionmenu"
            android:theme="@style/Theme" />

        <activity
            android:name=".preference.PreferenceActivityDemo"
            android:theme="@style/Theme"
            android:label="Preference/Preference Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".preference.PreferenceFragmentDemo"
            android:label="Preference/Preference Fragment"
            android:theme="@style/Theme.NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.textappearance.LightTextAppearanceDemo"
            android:label="Widget/Text Appearance/Text Appearance Light"
            android:theme="@style/Theme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.textappearance.DarkTextAppearanceDemo"
            android:label="Widget/Text Appearance/Text Appearance Dark"
            android:theme="@style/Theme.Dark" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.popupwindow.ArrowPopupWindowDemo"
            android:label="Widget/PopupWindow/ArrowPopupWindow"
            android:theme="@style/Theme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.popupwindow.GuidePopupWindowDemo"
            android:label="Widget/PopupWindow/GuidePopupWindow"
            android:theme="@style/Theme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.adaptivedrawable.AdaptivedDrawableActivity"
            android:label="Widget/Adaptived drawable/Self-Adaption"
            android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.DynamicListView"
            android:label="Widget/DynamicListView"
            android:theme="@style/Theme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.EditableListViewWrapperDemo"
            android:label="Widget/Editable list view"
            android:theme="@style/Theme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.adaptivedrawable.SettingActivity"
            android:label="Widget/Adaptived drawable/Adaptived preference"
            android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.adaptivedrawable.ManualDrawableActivity"
            android:label="Widget/Adaptived drawable/Manual"
            android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.ProgressBar1"
            android:label="Widget/Progress Bar/1. Incremental"
            android:theme="@style/Theme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.ProgressBar2"
            android:label="Widget/Progress Bar/2. Smooth"
            android:theme="@style/Theme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.ProgressBar3"
            android:label="Widget/Progress Bar/3. Dialogs"
            android:theme="@style/Theme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.SeekBar1"
            android:label="Widget/Seek Bar/1. Seek Bar"
            android:theme="@style/Theme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.SeekBar2"
            android:label="Widget/Seek Bar/2. Vertical SeekBar"
            android:theme="@style/Theme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.RatingBar1"
            android:label="Widget/Rating Bar"
            android:theme="@style/Theme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.NumberPickerActivity"
            android:label="Widget/NumberPickers"
            android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.DateTimePickerActivity"
            android:label="Widget/Date and time picker"
            android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.DatePickerActivity"
            android:label="Widget/Date picker"
            android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.LunarPickersActivity"
            android:label="Widget/Lunar date picker"
            android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.ScreenViewDemo"
            android:label="Widget/ScreenView"
            android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.Button1"
            android:label="Widget/Button"
            android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.Spinner1"
            android:label="Widget/Spinner"
            android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.PictureClock"
            android:label="Widget/PictureClock"
            android:theme="@style/Theme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.autocomplete.AutoComplete1"
            android:label="Widget/AutoComplete/AutoComplete1"
            android:theme="@style/Theme.AutoCompleteTextView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.autocomplete.AutoComplete2"
            android:label="Widget/AutoComplete/AutoComplete2"
            android:theme="@style/Theme.AutoCompleteTextView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.autocomplete.AutoComplete3"
            android:label="Widget/AutoComplete/AutoComplete3"
            android:theme="@style/Theme.AutoCompleteTextView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.autocomplete.AutoComplete4"
            android:label="Widget/AutoComplete/AutoComplete4"
            android:theme="@style/Theme.AutoCompleteTextView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.autocomplete.AutoComplete5"
            android:label="Widget/AutoComplete/AutoComplete5"
            android:theme="@style/Theme.AutoCompleteTextView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.autocomplete.AutoComplete6"
            android:label="Widget/AutoComplete/AutoComplete6"
            android:theme="@style/Theme.AutoCompleteTextView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.Rotation3DLayoutActivity"
            android:label="Widget/Rotation3DLayout"
            android:theme="@style/Theme.AutoCompleteTextView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".graphics.GifAnimationDrawable1"
            android:label="Graphics/GifAnimationDrawable"
            android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".graphics.FastBlurActivity"
            android:label="Graphics/FastBlur"
            android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".graphics.CropImageActivity"
            android:label="Graphics/CropImage"
            android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".graphics.CreateNameBitmapActivity"
            android:label="Graphics/CreateNameBitmap"
            android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".graphics.ComposeBitmapActivity"
            android:label="Graphics/ComposeBitmap"
            android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity android:name=".async.HttpBitmapTaskActivity"
                  android:label="Async Framework/HttpBitmapTask"
                  android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity android:name=".async.CursorTaskActivity"
                  android:label="Async Framework/CursorTask"
                  android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity android:name=".async.JsonTaskActivity"
                  android:label="Async Framework/JsonTask"
                  android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity android:name=".http.SimpleUsageDemo"
                  android:label="Http/Simple Usage"
                  android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity android:name=".http.DownloadDemo"
                  android:label="Http/Download"
                  android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity android:name=".http.HttpsDemo"
                  android:label="Http/Https"
                  android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity android:name=".media.Mp3RecorderActivity"
                  android:label="Media/Mp3Recorder"
                  android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MIUI_SAMPLE_CODE"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
